.containerCardHome {
    transition: color 2s;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
        // max-width: 500px;
        h1 {
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-size: 2.5rem;
        }
    }
    section {
        padding: 1.3rem;

        p {
            padding-bottom: 1rem;
        }
        button {
            padding: 0.8rem;
            width: 100%;
            border-radius: 0.6rem;
            color: var(--white);
            background: var(--yellow-500);
            border: none;
            &:hover {
                filter: brightness(0.9);
            }
        }
    }
}
